<div class = "new_form">
<h1 id = "create_tag">Welcome to Tuber!</h1>
<h1 id = "create_tag">Login</h1>
<%=form_tag "/signin", method: 'POST'%>
  <%=text_field_tag name="user[username]", nil, placeholder: "Username" %><br>
  <%=password_field_tag name="user[password]", nil, placeholder: "Password"%><br>
<%=submit_tag "Sign In"%><br>
<div id="facebook"><%= link_to('Log in with Facebook!', '/auth/facebook') %></div>
</div>
