<!DOCTYPE html>
<html>
  <head>
    <title>YoutubeCaptionSearchLearningTool</title>
    <%= csrf_meta_tags %>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header_container">
        <div class="logo_box">
          <a href="/videos"><img src="../logo2.png"></a>
        </div>
        <div class="logout_login_signup_box">
          <% if session[:id] %>
            <%= button_to "Logout", logout_path%>
          <% else %>
          <button><%= link_to "Signup", signup_path%></button>
          <button><%= link_to "Signin", users_path%></button>
          <% end %>
        </div>
      </div>


      <%= yield %>


    </div>
  </body>
</html>
