<!DOCTYPE html>
<html>
  <head>
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAIIjAAA2DgCMYRYAYz8AAABUFwDHnFIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiVQAAAABENVURMwAABDM1URZmMABDMzMRFmZjAEMzM2ZmEWUEM1VRYWEREVQzNVFhERERVDVTFhERERFUNTMWEREREVQzNRZmYRERVDMzZhYRERFQQzNmEREWYwBDM2ZhERFjAAQzZmEWZjAAAEQ2ZmYzAAAAAEQzMwAAD4HwAA4AcAAMADAACAAQAAgAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIABAACAAQAAwAMAAOAHAAD4HwAA" rel="icon" type="image/x-icon" />
    <title>YoutubeCaptionSearchLearningTool</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
        $(document).ready(function() { $("#group_list").select2(); });

        $(document).ready(function(){
          $(".close_form").click(function(){
              $("#group_form").hide();
          });

          $("#show_group_form_btn").click(function(){
              $("#group_form").show();
              event.preventDefault();
          });
        });
    </script>
  </head>

  <body>
    <div class="wrapper">
      <div class="header_container">
        <div class="logo_box">
          <a href="/videos"><img src="../logo2.png"></a>
        </div>

        <div class="search_bar">
          <%= form_tag "/search_users", method: 'POST' do%>
          <input type="text" name="user[search]" placeholder="Search..">
          <%=submit_tag "Search", id: "search_bar_enter"%>
          <% end %>
        </div>

        <div class="logout_login_signup_box">
          <% if session[:id] %>
          <button><%= link_to "Notes", user_path(session[:id]) %></button>
            <%= button_to "Logout", logout_path%>
          <% else %>
            <button><%= link_to "Signup", signup_path%></button>
            <button><%= link_to "Signin", users_path%></button>
          <% end %>
        </div>
      </div>


      <%= yield %>


    </div>
  </body>
</html>
